:root {
    --color-white: #EFF1F3;
    --color-black: #223843;
    --color-dark-white: #DBD3D8;
    --color-light-orange: #D8B4A0;
    --color-orange: #D77A61;
    --color-dark-orange: #98473E;
    --color-yellow: #F6AE2D;
    --color-purple: #9381FF;
}
* {
    margin:0;
}
body {
    background-image: url(../images/sunnySky.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:100vh;
}
.header {
    width:100%;
    height:10%;
    display:flex;
}
.headerInside1 {
    width:33.33%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:flex-start;
}
.headerInside2 {
    width:33.33%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.headerInside3 {
    width:33.33%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:flex-end;
}
#menuIcon {
    font-size:30px;
    color:white;
    margin-left:20px;
}
.blackout {
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.37);
}
#sunIcon {
    font-size:50px;
    color:var(--color-yellow);
    cursor:pointer;
}
#moonIcon {
    font-size:50px;
    color:var(--color-purple);
    cursor:pointer;
}
.searchBar {
    border-radius:10px;
    width:300px;
    height:35px;
    border:none;
    margin-right:30px;
    padding-left:10px;
}


.weatherCardSection {
    width:100%;
    height:90%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.weatherCard {
    width:600px;
    height:500px;
    background-color:var(--color-white);
    border-radius:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.temp {
    font-size:80px;
}
