:root {
    --color-white: #EFF1F3;
    --color-black: #223843;
    --color-dark-black: #112732;
    --color-dark-white: #DBD3D8;
    --color-light-orange: #D8B4A0;
    --color-orange: #D77A61;
    --color-dark-orange: #98473E;
    --color-yellow: #F6AE2D;
    --color-purple: #9381FF;
}
* {
    margin:0;
}
.dark {
    background-color: var(--color-dark-black);
}
.light {
    background-color: var(--color-dark-white);
}
body {
    background-image: url(../images/sunnySky.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:100vh;
}
.header {
    margin-bottom: 30px; 
    width:100%;
    height:10%;
    display:flex;
}
.headerInside1 {
    width:33.33%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:flex-start;
}
.headerInside2 {
    width:33.33%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.headerInside3 {
    width:33.33%;
    height:100%;
    display:flex; 
    align-items:center;
    justify-content:flex-end;
}
#menuIcon {
    font-size:30px;
    color:var(--color-white);
    margin-left:20px;
}
.blackout {
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.37);
}
#sunIcon {
    font-size:50px;
    color:var(--color-yellow);
    cursor:pointer;
}
#moonIcon {
    font-size:50px;
    color:var(--color-purple);
    cursor:pointer;
}
.searchBar {
    background-color: var(--color-white);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 300px;
    height: 35px;
    border: none;
    padding-left: 10px;
}


.weatherCardSection {
    width:100%;
    height: fit-content;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor: pointer; 

    overflow-y: auto; 
}



.scrollable {
    overflow-y: auto;
}

.weatherCard {
    width:600px;
    height:500px;
    background-color:var(--color-white);
    color:var(--color-black);
    border-radius:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    transition: all 1s;
}
.temp {
    font-size:80px;
}
.searchBarButton {
    height:35px;
    width:50px;
    border:none;
    background-color: var(--color-white);
    color: var(--color-black);
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    margin-right:30px;
}
.today {
    display: flex;
    flex-direction: column;
    align-items: center
}
.hourly {
    display: none;
}

/* Weather Hour Card */

.hourCards {
    width: 450px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    margin: 15px
}

.hourCardLeft {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.hourCardRight {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.hourIcon {
    width: 50px;
    height: 50px;
    background-image: url(../images/sun-icon.png);
    background-size: cover;
}

.hourDegree {
    font-size: 50px;
}

.sidebarLink {
    text-decoration: none;
    color: inherit;

}
/* hover animation for side bar */
.hover-1 {
    --c: var(--color-orange); /* the color */
    --s: .15em;
    line-height: 1.1em;
    padding-bottom: calc(2.1*var(--s));
    background: conic-gradient(from 135deg at top,var(--c) 90deg,#0000 0) left 0 bottom var(--s)/calc(2*var(--s)) var(--s) repeat-x, conic-gradient(from -45deg at bottom,var(--c) 90deg,#0000 0) left var(--s) bottom 0/calc(2*var(--s)) var(--s) repeat-x;
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0) 0/var(--_p,0%) padding-box no-repeat;
    transition: .5s;
}
.hover-1:hover {
    --_p: 100%;
    color: var(--c);
}
.gradient {
    width: 200px;
    height: 5px;
    background: rgb(14,201,0);
    background: linear-gradient(90deg, rgba(14,201,0,1) 0%,rgba(255,252,0,1) 50%, rgba(255,0,0,1) 100%);
}


/* About Page */

.mainContent{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-wrap: balance;
    text-align: center;
}

.headerInsideAbout{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px; 
}




